{% extends 'shared/base.html' %}
{% load has_group %}
{%  block site_title %}
    Events detail page
{% endblock %}


{% block content %}
{% include 'shared/partials/header.html' with bg_white=True%}

<section class="event__container">
    <div class="event__image-container"
         style="background-image: url('{{ event.event_photo.url }}')">
        <div class="event__image-content">
            <a href="{% url 'events:home' %}"><i class="material-icons">arrow_back</i>Back</a>
            <h2>{{ event.name }} in {{ event.city }}</h2>
            <p>by {{event.hosted_by.username }}</p>
        </div>
    </div>
    <div class="event__content-container">
        <div class="event__engagement{% if not user.is_authenticated %} show-sing-in-notification{% endif %}">
            {% if not is_host %}
                {% include 'events/partials/event-like.html' with event=event liked=liked %}
                {% include 'events/partials/event-interested.html' with event=event interested=interested %}
                {% include 'events/partials/event-going.html' with event=event going=going %}
            {% endif %}
            <span class="event__sign-in-message">Click to sign in!</span>
        </div>

        <div class="row event-info">
            <div class="col s12 m8 event-info__left-content">
                <h4>Description</h4>
                <p>{{ event.description }}</p>

                 <h4>Time</h4>
                 <p>Date: {{ event.date|date:'d-M-yy' }}</p>
                 <p>Time: {{ event.date|date:'h-m' }}</p>
            </div>
            <div class="col s12 m4 event-info__right-content">
                <h4>Event Location</h4>
                {% if event.venue_lng and event.venue_lat %}
                <div id="event-map" class="event__map-container"
                    data-lat="{{ event.venue_lat }}"
                    data-lng="{{ event.venue_lng }}"
                ></div>
                {% endif %}
                 <div class="card card__address">
                    <div class="card-content">
                      <span class="card-title">{{ event.venue }}</span>
                      <p>{{ event.venue_address }}</p>
                    </div>
                 </div>
            </div>
        </div>

        {% if user.is_authenticated %}
            {% if is_host or user.is_superuser or user|has_group:'Admins'%}
                <div class="event__modify">
                    <a href="{% url 'events:event edit' event.id %}" class="btn">Edit event</a>
                    <a href="{% url 'events:event delete' event.id %}" class="btn">Delete event</a>
                </div>
             {% endif %}
        {% endif %}
    </div>
</section>
{% include 'comments/comments.html' with event=event user=user %}
{% endblock %}
{% load static %}
{% block page_scripts %}
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbBSz9ZdcjSHWP5g_2f6J3VnczJ1hz2ZY&callback=initMap">
    </script>
    <script src="{% static 'js/eventMapMarker.js'%}"></script>
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/comment.js'%}"></script>
{% endblock %}