{% extends 'shared/base.html' %}

{%  block site_title %}
    Events detail page
{% endblock %}


{% block content %}
{% include 'shared/partials/header.html' with bg_white=True%}

<section class="event__container">
    <div class="container">
        <div class="event__image-container"
             style="background-image: url('{{ event.event_photo.url }}')">
        </div>
        <a href="{% url 'events:home' %}"><i class="material-icons">arrow_back</i>Back</a>
        <h2>{{ event.name }} in</h2>
        <h3>{{ event.city }}</h3>
        <p>by {{event.hosted_by.username }}</p>

        <div class="event__engagement{% if not is_authenticated %} show-sing-in-notification{% endif %}">
            {% if not is_host %}
                {% include 'events/partials/event-like.html' with event=event liked=liked %}
                {% include 'events/partials/event-interested.html' with event=event interested=interested %}
                {% include 'events/partials/event-going.html' with event=event going=going %}
            {% endif %}
            <span class="event__sign-in-message">Click to sign in!</span>
        </div>

        {% if user.is_authenticated %}
            {% if is_host or user.is_superuser %}
                <div class="event__modify">
                    <a href="#" class="btn">Edit event</a>
                    <a href="#" class="btn">Delete event</a>
                </div>
             {% endif %}
        {% endif %}
    </div>
</section>
<section>
    <div class="comments__container">
        <h4>Comments</h4>
        <div class="comments__inner-container">
            {% if comments %}
                {% for comment in comments %}
                    <div class="comments__comment_container">
                        <a href="{% url 'accounts:user-profile' user.id %}"
                           class="profile-photo-round"
                           style="background-image: url('{{ user.profile.userPhotoURL.url }}')">
                        </a>
                        <div class="comments__comment-text">
                            <h5>{{ comment.user.username }}</h5>
                            <p>{{ comment.text }}</p>
                            <span id="comment-reply" data-comment_id="{{ comment.id }}" class="comment__reply">Reply</span>
                        </div>
                    </div>
                    <div class="comment__reply-form-container" id="reply" data-comment_id="{{ comment.id }}">
                        <form method="post" action="{% url 'events:event comment' pk=event.pk parent_id=comment.id %}">
                            {{ comment_form }}
                            {% csrf_token %}
                            <button class="btn btn-primary mt-2" type="submit">Add</button>
                        </form>
                    </div>
                    {% for reply in comment.replies.all %}
                        <p>{{ reply.text }}</p>
                    {% endfor %}
                {% endfor %}
            {% else %}
               <p>There are no comments for this event.</p>
            {% endif %}
        </div>
        {% if not is_host %}
        <div class="comments__create-new">
             <h4>Add new comment</h4>
            <div>
                <form method="post" action="{% url 'events:event comment' pk=event.pk parent_id=0%}">
                    {{ comment_form }}
                    {% csrf_token %}
                    <button class="btn btn-primary mt-2" type="submit">Add</button>
                </form>
            </div>
         </div>
         {% endif %}
    </div>
</section>
{% endblock %}
{% load static %}
{% block page_scripts %}
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/comment.js'%}"></script>
{% endblock %}