{% extends 'shared/base.html' %}

{%  block site_title %}
    Edit your profile
{% endblock %}

{% block content %}
<div class="profile__container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="profile__container-inner">
                <div class="row">
                    <h2 class="logo-small"><a href="{% url 'events:home' %}">UrbanBeat</a></h2>
                    <div class="col s10 offset-s1 m8 offset-m2">
                        <h2 class="profile__table-title">Edit Your Profile</h2>
                        <a class="btn-link" href="{% url 'password_change' %}">Change your password</a>
                        {% include 'shared/partials/form-errors.html' %}
                        <form action="{% url 'user-edit-profile' %}" method="POST" enctype="multipart/form-data" class="profile__form">
                            {% csrf_token %}
                            <img id="uploadedImage" class="profile__uploaded-image--update"/>
                            <div class="row">
                                <div class="input-field">
                                    <label for="{{ form.userPhotoURL.auto_id }}" class="form__label">UPDATE YOUR PHOTO</label>
                                    {{ form.userPhotoURL }}
                                    {% include 'shared/partials/form-field-error.html' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field">
                                    <label for="{{ form.about.auto_id }}" class="form__label">{{ form.about.label|upper }}</label>
                                    {{ form.about }}
                                    {% include 'shared/partials/form-field-error.html' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field">
                                    <label for="{{ form.city.auto_id }}" class="form__label">{{ form.city.label|upper }}</label>
                                    {{ form.city }}
                                    {% include 'shared/partials/form-field-error.html' %}
                                </div>
                            </div>
                            <button class="btn" tabindex="3">Edit</button>
                        </form>
                    </div>
                    <div class="col s12">
                        <a class="btn-link" href="{% url 'events:home' %}">Explore our events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% load static %}
{% block page_scripts %}
    <script src="{% static 'js/showUploadImage.js' %}"></script>
    <script>
        const imageFieldElements = Array.from(document.getElementById('id_userPhotoURL').parentElement.children)
        if (imageFieldElements[1]) {
            imageElement.src = imageFieldElements[1].href;
        }
    </script>
{% endblock %}