{% extends 'shared/base.html' %}

{%  block site_title %}
    Sign in to your account
{% endblock %}

{% block content %}
<div class="row signin__container">
    <div class="col s12 m7 signin__form">
        <div class="row" style="height: 100%;">
            <div class="col s10 offset-s1 m6 offset-m3 signin__form_container">
                <h2 class="logo-small">
                    <a href="{% url 'events:home' %}">UrbanBeat</a></h2>
                <div class="row valign-wrapper" style="height: 100%;">
                    <div class="col s12">
                        <h2>Sign In</h2>
                        {% include 'shared/partials/form-errors.html' %}
                        <form action="{% url 'signin' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="return_url" value="{{ request.GET.next }}"/>
                            <div class="row">
                                <div class="input-field s12">
                                    <label class="form__label" for="{{ form.username.auto_id }}">{{ form.username.label|upper }}</label>
                                    {{ form.username }}
                                </div>
                             </div>
                            <div class="row">
                                <div class="input-field s12 show-forgotten-password-container">
                                    <a href="{% url 'password_reset' %}" tabindex="4">Forgot your password?</a>
                                    <label class="form__label" for="{{ form.password.auto_id }}">{{ form.password.label|upper }}</label>
                                    {{ form.password }}
                                </div>
                             </div>
                            <button class="btn" tabindex="3">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="col s12 m5 signin__image valign-wrapper">
            <div class="row signin__content">
                <div class="col s12">
                    <h3>Hello, Friend!</h3>
                    <p>Enter your personal details and start your journey with us.</p>
                    <a tabindex="5" class="btn btn-transparent" href="{% url 'signup' %}">Sign Up</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}
