{% load has_group %}
<div class="header{% if bg_white %} bg-white{% endif %}">
    <div class="header__container">
        <h1 class="header__brand"><a href="{% url 'events:home' %}">UrbanBeat</a></h1>
        <div class="header__nav">
            {% if user.is_authenticated %}
                <ul id="dropdown-profile" class="dropdown-content">

                    <li class="divider"></li>
                    <li>
                        {% if user.profile %}
                            <a href="{% url 'user-profile' user.profile.id %}">My profile</a>
                        {% else %}
                            <a href="{% url 'user-create-profile' %}">Create profile</a>
                        {% endif %}
                    </li>
                    {% if user.is_superuser or user|has_group:'Admins' %}
                       <li>
                           <a href="{% url 'events:events admin' %}">All events</a>
                       </li>
                        <li>
                           <a href="{% url 'user list' %}">All users</a>
                       </li>
                    {% endif %}
                    <li><a href="{% url 'events:event create' %}">New event</a></li>
                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                </ul>
                <a class="dropdown-trigger header__profile " href="#" data-target="dropdown-profile">
                    <div class="profile-photo">
                        {% if user.profile.userPhotoURL %}
                             <img src="{{ user.profile.userPhotoURL.url }}" alt="user photo">
                        {% else %}
                             {% load static %}
                             <img src="{% static 'assets/icons/user-default.jpg' %}" alt="user photo default">
                        {% endif %}
                    </div>
                    <span>{{ user.username }}</span>
                    <i class="material-icons header__arrow">arrow_drop_down</i>
                </a>
            {% else %}
                 <a href="{% url 'signup' %}" class="btn-link">Sign Up</a>
                <a href="{% url 'signin' %}" class="btn">Sign In</a>
            {% endif %}
        </div>
    </div>
</div>