<!-- Dropdown Structure -->
    <ul id="dropdown-profile" class="dropdown-content">
      <li><a href="{% url 'accounts:user-edit-profile' %}">My profile</a></li>
      <li class="divider"></li>
        <li><a href="{% url 'accounts:logout' %}">Sign out</a></li>
    </ul>

    <nav>
        <div class="container">
      <div class="nav-wrapper">
        <a href="{% url 'events:home' %}" class="brand-logo">UrbanBeat</a>
        <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li>
              <a class="dropdown-trigger header__profile" href="#!" data-target="dropdown-profile">
                 <div class="profile-photo">
                         {% if user.profile.userPhotoURL %}
                             <img src="{{ user.profile.userPhotoURL.url }}" alt="user photo">
                        {% else %}
                             {% load static %}
                             <img src="{% static 'assets/icons/user-default.jpg' %}" alt="user photo default">
                        {% endif %}
                 </div>
                 <span>{{ user.username }}</span>
                 <i class="material-icons header__arrow">arrow_drop_down</i>
              </a>
          </li>
        </ul>
      </div>
            </div>
    </nav>