{% extends 'shared/base.html' %}

{%  block site_title %}
    Change password done
{% endblock %}

{% block content %}
<div class="profile__container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="profile__container-inner">
                <div class="row">
                    <h2 class="logo-small"><a href="{% url 'events:home' %}">UrbanBeat</a></h2>
                    <div class="col s10 offset-s1 m8 offset-m2">
                        <h4>Password change successful</h4>
                        <p>Your password was changed</p>
                        <p>Go
                            <a href="{% url 'user-edit-profile' %}">back</a> or explore our
                            <a href="{% url 'events:home' %}">events</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}