{% extends 'shared/base.html' %}

{%  block site_title %}
    Rest password
{% endblock %}

{% block content %}
<div class="profile__container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="profile__container-inner">
                <div class="row">
                    <h2 class="logo-small"><a href="{% url 'events:home' %}">UrbanBeat</a></h2>
                    <div class="col s10 offset-s1 m8 offset-m2">
                        <h4>Check your inbox.</h4>
                        <p>We've emailed you instructions for setting your password.</p>
                        <p>You should receive the email shortly!</p>
                        <a class="btn" href="{% url 'signin' %}">Go to sign</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}