 <div>
    {% if interested %}
        <a href="{% url 'events:event interest' event.id %}" class="btn btn-flat-icon waves-effect waves-light">
            <i class="material-icons">star</i>
            <span>{{ event.interested_set.count }} interested</span>
        </a>
    {% else %}
        <a href="{% url 'events:event interest' event.id %}" class="btn btn-flat-icon waves-effect waves-light">
            <i class="material-icons">star_border</i>
            <span>{{ event.interested_set.count }} interested</span>
        </a>
    {% endif %}
</div>