 <div class="section">
    <h5>Interested</h5>
    <div class="section__upper">
        {% if interested %}
            <a href="{% url 'events:event interest' event.id %}" class="btn waves-effect waves-light">
                <i class="material-icons">star</i>
            </a>
        {% else %}
            <a href="{% if user.is_authenticated %}{% url 'events:event interest' event.id %}{% endif %}"
               class="btn waves-effect waves-light">
                <i class="material-icons">star_border</i>
            </a>
        {% endif %}
        <span>{{ event.interested_set.count }} interested</span>
    </div>
</div>